
body{
    background: #1e272e;
}
.con{
    
    width: 500px;
    margin-left: 450px;
    margin-top: 200px;
    height: 200px;
   
    border-radius: 25px;
}
input{
    width: 300px;
    border-radius: 25px;
    height: 40px;
   background-color: transparent;
}
input[type=email] {
  
    box-sizing: border-box;
    border: 2px solid #ff3f34;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=email]:focus {
    border: 2px solid #ff3f34;
    border-color: #ff3f34;
  }
  form input{
    text-align: center;
    color: #fff;
  }
.ip{
    text-align: center;
 padding-top: 20px;
}

button{
    height: 40px;
    width: 200px;
    background-color: #ff3f34;
    color: white;
    font-weight: bold;
    border: 1px solid #ff3f34;
    border-radius: 25px;
}



form label{
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}

